<!DOCTYPE html>
<style>
   .clsGunstockMap
   {
       position: relative;
       top: 0;
       left: 0;
   }
   .clsImages
   {
       position: absolute;
       top: 0;
       left: 0;
   }
   .clsImageDiv
   {
       position: relative;
       top: 0;
       left: 0;
   }
</style>

<html>
   <body>
       <div>
           <h1>Gunstock Dynamic Trail Map</h1>
           <p>By: Connor Craigie & Ilona Regan</p>
       </div>

       <div id="images-div" class="clsImageDiv">
           <!--Gunstock map image-->
           <img src="/static/images/gunstock_flat_colored_map.png" alt="Map Not Retrieved" class="clsGunstockMap">

           <!--Other Images-->
           <script>
               var images = ["Birch_Glades.png", "Blundersmoke.png", "Cannonball.png", "Daisy.png", "Derringer.png", "Exit_20.png", "Flintlock.png", "Flintlock_Chute.png", "Flintlock_Extension.png", "Gunpowder.png",
               "Gunpowder_Glades.png", "Hot_Shot.png", "Lower_Gunsmoke.png", "Lower_Recoil.png", "Lower_Trigger.png", "Middle_Gunsmoke.png", "Middle_Recoil.png", "Middle_Trigger.png", "Musket.png", "Out_Of_Sight.png",
               "Paralax_Glades.png", "Peepsight.png", "Pennys_Playground.png", "Phelps.png", "Pistol.png", "Pop_Gun.png", "Ramrod.png", "Recoil_Glades.png", "Redhat.png","Red_Ryder.png", "Ricochet.png",
               "Shotgun.png", "Sidearm.png", "Slingshot.png", "Smith.png", "Stone_Bar.png", "Tiger.png", "Tiger_Steeps.png", "Tinder_Box.png", "Trigger_Chute.png", "Trigger_Link.png", "Try_Me.png",
               "Upper_Cannonball.png", "Upper_Gunsmoke.png", "Upper_Ramrod.png", "Upper_Recoil.png", "Upper_Trigger.png"];

               for(i = 0; i < images.length; i++)
               {
                   document.getElementById("images-div").innerHTML += "<img id=" + images[i] + " src='/static/images/overlays/"+ images[i] + "' class='clsImages' style='visibility:visible' >";
                   console.log(images[i] + ": " +document.getElementById(images[i]).style.visibility);
               }


           </script>
       </div>
   </body>
</html>